*{
	margin: 0;
	padding: 10px;
}
body{
	background:#151515; 
}
@media (max-width: 640px) {
	body {
	}

}
.topico{
	width: 100%;
	margin: 0;
	padding: 50px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	align-items: stretch;
}
.menu{
	width: 100%;
	height: 70px;
	background-color: #151515;
	font-family: Norasi;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media (max-width: 640px) {
	nav {
		width: 50%;
		height: 50px;
		background: #F5F5F5;
		font-family: Waree;

	}
}
.menu ul{
	list-style: none;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;

}
.menu ul li{
	width: 270px;
}
.menu a{
	padding: 10px;
	display: block;
	text-decoration: none;
	text-align: center;
	background-color: #696969;
	color:#fff;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.menu ul ul{
	width: 270px;
	padding: 0;
	position: absolute;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.menu ul li:hover ul{
	visibility: visible;
}
.menu a:hover{
	color: #000000;
}
.menu ul ul li{
	box-sizing: border-box;
	width: 100%;
	/*padding: 0;*/
	border-bottom: solid 1px #ccc;
}
.menu ul ul li a{
	background-color: rgba(0,0,0,0.3);
	
}
.nome{
	width: 70%;
	margin-left: -50px;
    background: #1C1C1C;
    text-align: center;
    text-shadow: 0px 2px 10px #151515;
    color: #fff;
    font-family: Norasi, sans-serif;
    font-size: 30px;
}

.formacao{
	/*padding: 4px;*/
    background: #1C1C1C;
    text-align: center;
    text-shadow: 0px 2px 10px #151515;
    color:#fff;
    font-family: URW Chancery L, sans-serif;
    font-size: 30px;
   	display: flex;
   	align-items: center;
}

.foto-perfil{
	width: 30%;
    padding: 0px;
    margin: 10px;
    border-radius: 100px;
    position: relative;
    bottom: 0px;
    right: -370px;
    /*opacity: 0.4;*/  
}
@media(max-width: 640px){
	img{
		width: 70%;
		padding:0px;
		margin: 20px;
		border-radius: 100px;
		position: relative;
		right: -450px;
		bottom: 0px;
	}
}
.paragrafo{
	width: 100%;
	font-size: 20px;
    line-height: 1.5em;
    /*padding: 30px;*/
    margin: 10px;
    font-family: "Norasi", sans-serif;
    color: #FBF;
    position: relative;
    bottom: -50px;
}
@media (max-width: 640px) {
	p {
		width: 60%
		font-size:10px;
		line-height: 1.0em;
		margin: 5px;
		font-family: Waree, sans-serif;
		color: black;

	}
}
.estilo{
	margin: 50px auto;
	width: 1025px;
	height: 150px;
}
@media(max-width: 640){
	footer{
		margin: 20px auto;
		width:850px;
		height: 100px;
	}
}

.rede{
	width: 150px;
	height: 150px;
	float: left;
	margin-left: 20px;
	transition: all 0.4s ease-out;
	position: relative;
	bottom: -20px;
	right: -70px;
	border-radius: 50%;
}
@media(max-width: 640){
	div{
		width: 50px;
		height: 50px;
		float: left;
		margin: 10px;
		position: relative;
		bottom: -0px;
		right: -40px;
		border-radius: 50%;
	}
}
.rede:hover{
	cursor: pointer;
	transform: translateY(-20px);
	box-shadow: 4px 30px 16px 0px rgba(211,211,211,0.45);
}
@media(max-width: 640){
	div{
		cursor: pointer;
		transform: translateY(-20px);
		box-shadow: 4px 30px 16px 0px rgba(211,211,211,0.45);
	}
}

.rede#facebook{
	background: #2F4F4F;
}
.rede#github{
	background: #2F4F4F;
}
.rede#instagram{
	background: #2F4F4F;
}
.rede#youtube{
	background: #2F4F4F;
}
.incone{
	margin: 0px auto;
	padding: 40px;
	width: 80px;
	display: flex;
	align-items: center;
}
@media(max-width: 640){
	img{
		margin: 0px auto;
		padding: 20px;
		width: 50px;
		display: flex;
		align-items: center;
	}
}



